body {
    background-color: rgb(226, 211, 196);
}

h2 {
    text-align: center;
    border: 2.5px solid rgb(53, 49, 47);
}

tr:nth-child(even) {
    background-color: rgb(243, 231, 224);
  }

table, th, td {
    border:1px solid black;
    border-collapse: collapse;
  }


img {
    border-radius: 50%;
    width:min-content;
    float:left;
    margin-right: 20px;
    width: 30%;
  }

p {
    color:rgb(0, 0, 0);
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
    display: inline-block;
}


footer {
    margin-top: 20px;
    clear:both;
    text-align: center;
}
